:root {
  --bg-color:#010;
  --fg-color:#0e0;
  --sfg-color:#0c0;
  --hvbg-color:#030;
}
/*Estilo para la scroll-bar*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--fg-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--sfg-color);
}

::placeholder {
  color: var(--fg-color);
  opacity: 1; /* Firefox */
}


*{
  box-sizing: border-box;
}



body {
  font-family: monospace;
  font-size: 16px;
  background-color: var(--bg-color);
  color:var(--fg-color) ;
}
main {
  width: 100%;
  height: 100%;
}

.main-container {
  display:flex;
  align-items: center;
  justify-content: center;
}


.container {
  margin-top: 5%;
  width: 90vw;
  padding:0.5rem 1rem;
  height: 600px;
  background-color: var(--bg-color);
  border-radius: 3px;
  border:2px solid var(--fg-color);
  /*box-shadow: 3px 3px 10px 0px black;*/
}
.top {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 35%;
  height: 100%;
  margin:0 10px;
}


ul {
  padding:0;
  list-style: none;
}

li {
  width: 100%;
  padding:2px;
  border:1px solid var(--fg-color);
}
legend {
  font-size: 20px;
  font-weight: bold;
}

form {
  width: 100%;
  height: 100%;
}

fieldset {
  overflow-y:scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding:5px 5px;
  border-radius: 0;
  border:2px solid var(--fg-color);
}
input:hover {
  color: var(--fg-color);
  background-color: var(--hvbg-color);
}

input {
  margin:10px 0;
  color: var(--sfg-colorfg);
  background-color: var(--bg-color);
  border:1px solid var(--fg-color);

}
#tiempo {
  margin-left: 10px;
}
button:hover {
  background-color: var(--hvbg-color);
}
.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

button {
  color: var(--fg-color);
  font-family: monospace;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--bg-color);
  border: 1px solid var(--fg-color);
  padding:0.5rem;
}

label {
  display: block;
  font-weight: bold;
  padding-left: 1rem;
}

.graph {
  margin: 10px auto;
  width: 99%;
  height: 55%;
}
#myChart {
  max-width: 100%;
}


