:root {
  --bg-color:#010;
  --fg-color:#0e0;
  --sfg-color:#0c0;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--fg-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--sfg-color);
}


*{
  box-sizing: border-box;
}



body {
  font-family: monospace;
  font-size: 16px;
  background-color: var(--bg-color);
  color:var(--fg-color) ;
}


.container {
  width: 90vw;
  height: 600px;
  margin: 35px auto;
  padding: 1rem;
  background-color: var(--bg-color);
  border-radius: 0;
  border:2px solid var(--fg-color);
  /*box-shadow: 3px 3px 10px 0px black;*/
  display: flex;
}
legend {
  font-weight: bold;
}

.box {
  width: 400px;
  margin:0 10px;
  height: 200px;
}
ul {
  padding:0;
  list-style: none;
}
li {
  width: 100%;
  padding:2px;
  border:1px solid var(--fg-color);
}

input {
  margin-bottom: 10px;
  color: var(--fg-color);
  background-color: var(--bg-color);
  border:1px solid var(--fg-color);
}

button {
  margin-left: 150px;
  color: var(--fg-color);
  background-color: var(--bg-color);
  border: 1px solid var(--fg-color);
}

label {
  display: block;
}

form {
  width: 100%;
  height: 100%;
}

fieldset {
  overflow-y:scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  border-radius: 0;
  border:2px solid var(--fg-color);
}

