:root {
  --bg-color:#555;
  --fg-color:#eee;
}

*{
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
}


.container {
  width: 90vw;
  height: 600px;
  margin: 35px auto;
  padding: 1rem;
  background-color: var(--fg-color);
  border-radius: 1rem;
  border:2px solid #333;
  box-shadow: 3px 3px 10px 0px black;
  display: flex;
}

.box {
  width: 400px;
  margin:0 10px;
  height: 200px;
}
ul {
  padding:0;
  list-style: none;
}

input {
  margin-bottom: 10px;
}

button {
  margin-left: 150px;
}

label {
  display: block;
}

form {
  width: 100%;
  height: 100%;
}

fieldset {
  overflow-y:scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border:2px solid gray;
}

